<launch>

  <!--- Run move_base -->
  <include file="$(find lumyai_navigation_slam)/launch/move_base.xml" />
 
  <!--- Run SLAM gmapping -->
  <include file="$(find lumyai_navigation_slam)/launch/slam_gmapping.xml" />
  
  <!--- Run rviz -->
  <include file="$(find lumyai_navigation_slam)/launch/rviz_move_base.xml" />
 
</launch>
