<launch>
  <!--<include file="$(find hardware_bridge)/launch/base_connect.launch"/>-->

  <node pkg="rviz" type="rviz" name="rviz_mapping" args="-d $(find athome_navigation_config)/rviz/map_construct.rviz"/>

  <include file="$(find athome_navigation_mapping)/launch/gmapping.launch"/>
</launch>
