<launch>

  <!--- Run move_base -->
  <include file="$(find lumyai_navigation_global)/launch/move_base.xml" />
  
  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find lumyai_navigation_global)/maps/map_japan_main_field.yaml"/>
 
  <!--- Run AMCL -->
  <include file="$(find lumyai_navigation_global)/launch/amcl_node.xml" />
  
  <!--- Run rviz -->
  <include file="$(find lumyai_navigation_global)/launch/rviz_move_base.xml" />

<node name="lumyai_move_base" pkg="lumyai_move_base" type="lumyai_move_base.py"/>
 
</launch>
