<launch>

  <!--- Run move_base -->
  <include file="$(find athome_navigation)/launch/move_base.launch">
    <arg name="simulation_enable" value="false" />
  </include>
  
  <!-- Run the map server -->
  <node ns="navigation" name="map_server" pkg="map_server" type="map_server" args="$(find athome_navigation_mapping)/maps/map.yaml"/>
 
  <!--- Run AMCL -->
  <include file="$(find athome_navigation)/launch/amcl_node.launch" />
  
  <!--- Run rviz -->
  <include file="$(find athome_navigation)/launch/rviz_move_base.launch" />

  <!--- Create log file -->
  <!-- <node ns="athome_log" pkg="rosbag" type="record" name="logging_navigation" args="-o navigation /laser/scan /kinect/virtual_scan /navigation/initial_pose /base/odom /navigation/move_base/goal " /> -->
  <node ns="athome_log" pkg="rosbag" type="record" name="logging_navigation" args="-o log/athome_navigation --node /rviz/move_base_rviz" />

</launch>
