<launch>

  <!--- Run move_base -->
  <include file="$(find athome_navigation_dynamic)/launch/move_base.launch" />

  <!--- Run rviz -->
  <include file="$(find athome_navigation_dynamic)/launch/rviz_move_base.launch" />

  <!--- Run Mapping -->
  <include file="$(find athome_navigation_mapping)/launch/gmapping.launch" />
</launch>
